* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}

#container {
  margin: 30px auto;
  width: 800px;
}

header {
  background: dimgray;
  padding: 10px 10px;
  border-radius: 10px 10px 0 0;
  color: whitesmoke;
  text-align: center;
}

#title {
  margin-bottom: 5px;
}

#survey-form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

input,
select, textarea {
  margin-bottom: 20px;
  padding: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

label[for="radio"], label[for="checkbox"] {
  margin-top: 5px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

input[type="radio"], input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  margin-bottom: 0px;
}

.fix-multi {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border: none;
  background: dimgray;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 5px;
}

